@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Indie+Flower&family=Oswald:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

@font-face {
    font-family: 'matter';
    src: url('./matter-light.woff2') format('woff2');
}


.movercirc video {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%) scale(00.4);
}

html, body{
    width: 100%;
    overscroll-behavior-y: contain; 
}

h2{
    font-family: 'matter',sans-serif;
}


#main{
    width: 100%;
    opacity: 1;
}

#loader{
    position: absolute;
    z-index: 999;
    opacity: 1;
    width: 98.5vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color: #000;
    color: #dadada;
}

#home{
    width: 100%;
}

#right a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    border: solid 1px black;
    padding: 4px 20px;
    /* padding-top: 8px; */
    height: 3vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    border: solid 1px black;
    padding: 4px 20px;
    padding-bottom: 0px;
    /* padding-top: 8px; */
    /* height: 3vw; */;
    margin-bottom: 10px;
    border-radius: 20px;
}

.cardimg img{
    border-radius: 5%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#logo{
    font-weight: bold;
    letter-spacing: 4px;
    font-family: 'Indie Flower';
    font-size: calc(1.5vh + 1.5vw);
    border: none;
    text-decoration: none;
    color: #121111;
    /* border: 1px solid black; */
    height: 15vh;
    width: 15vw;
}

#nav{
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

#right{
    display: flex;
    gap: 2vw;
}

#homemain{
    width: 100%;
    padding: 10vw 16vw;
}

#homemain h1{
    font-family: 'matter', monospace;
    font-weight: 900;
    font-size: 1.1vw;
    /* letter-spacing: ; */
}

#homemain #headings{
    display: flex;
    gap: 3vw;
}

#headings h1{
    font-size: 6vw;
    font-family: 'matter', sans-serif;
    letter-spacing: -4px;
    font-weight: 500;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke: 1px #121111;
}

#headings h1:hover{
    color: #000;
}

#homelast{
    padding: 0vw 15vw ;
}

#homelast p{
    width: 70%;
    line-height: 1.5;
    letter-spacing: -.08vw;
    font-weight: 400;
    font-size: 1.5vw;
    font-family: 'matter';
}

h3::selection,::selection,a::selection,h2::selection,p::selection{
    background-color: #121111;
    color: white;
}

.tech{
    padding: 8vw 11vw;
}

.tech h1{
    font-family: 'matter';
}

.techstack{
    padding-top: 3vw;
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
}

.tc{
    width: 200px;
    height: 60px;
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.tc svg{
    font-size: 3vw;
}

#feature{
    padding: 5vw 12vw;
}

#featured h1{
    font-family: "matter";
    font-size: 3vw;
    line-height: 1;
    font-weight: 400;
}

#featured>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#fimages{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    height: 100vh;  
    margin-top: 5vw;
}


#fleft{
    /* border: 1px solid blue; */
    width: 45%;
    height: inherit;
}

#fright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid green; */
    width: 50%;
    height: inherit;
}

.images{
    width: 100%;
}

.images img{
    width: 90%;
    height: auto;
}

.lem{
    /* border: 1px solid seagreen; */
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lem h1{
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    padding: 2vw 0;
}

.lem h3{
    font-size: 2vw;
}

.lem h5{
    opacity: 0.5;
}
/* 
#pinterest{
    object-fit: contain;
} */

#buttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

#buttoncontainer>a{
    padding: 20px;
    border-radius: 40px;
    border: 1px solid black;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}

.projects{
    padding: 4vw;
    /* background-color: black; */
    height: 105vh;
}

.projects h1{
    padding: 4vw;
    font-size: 3vw;
    color: black;
}

.card-container{
    display: flex;
    gap: 3vw;
    overflow: hidden; 
    /* *****Bhulna Mat******** */
    padding-bottom: 50px;
}

.container {
    width: 400px;
    height: 300px;
    margin: 30px auto;
    box-shadow: 0 0 2px gray;
    padding: 20px;
    overflow: scroll; 
  }
  

/* ::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: black;
    position: absolute;
    bottom: 0;
  }
  
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px; 
    border: 2px solid black; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
  }
   */

.card{
    background-color: #dadada;
    width: 20vw;
    border-radius: 5%;
    
    border: 2px solid black;
}

.cardbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.cardtext{
    padding: 1vw;
}

.cardtext h4{
    opacity: 0.5;
}

.cardimg{
    border-radius: 10%;
    height: 20vw;
    width: 19.8vw;
    display: flex;
    align-items: center;
    background-color: #121111;
}

.foot{
    padding-top: 10vh ;
    color: white;
    background-color: black;
}

.footupper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footupper h1{
    font-family: "matter";
}

.socials{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 5vw 10vw;
    gap:2vw;
}

.socials i{
    font-size: 4.5vh;
    color: white;
}

.socials a{
    color: #000;
    text-decoration: none;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a:hover{
    color: white;
    background-color: #000;
}

.c i{
    /* width: 10px; */
    padding: 0px 4px;
}

.c{
    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 1200px) {
    
    .card-container{
        flex-wrap: wrap;
    }

    .card{
        width: 40vw;
        display: flex;
        flex-direction: column;
    }

    .cardbtn a{
        font-size: 4vw;
        width: 45%;
    }

    .cardimg{
        height: 30vw;
        width: 40vw;
    }
}

@media only screen and (max-width: 767px) {

    #headings{
        flex-direction: column;
    }
    #homemain{
        padding: 5vw;
    }
    #homemain h1{
        font-size: 3vw;
    }
    #headings h1{
        font-size: 15vw;
        letter-spacing: 1px;
    }
    #right{
        flex-direction: column;
    }
    #right a{
        display: none;
        font-size: 5vw;
        padding: 10px 20px;
    }
    #homelast{
        padding: 5vw;
        width: 100%;
    }
    #homelast p{
        font-size: 4vw;
    }
    .tech{
        padding: 4vw 5vw;
    }

    .techstack{
        gap:4vw;
        
    }

    .tc{
        width: 150px;
        justify-content: flex-start;
    }

    #feature{
        padding: 5vw;
    }
    #fimages{
        margin-top: 0;
    }
    #feature h1{
        font-size: 7vw;
        padding-bottom: 5vw;
    }
    #fleft{
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }
    .lem{
        height: 30vh;
    }
    .images{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .images img{
        width: 100%;
        height: 20vh;
        border: 1px solid green;
    }
    .lem h1{
        font-size: 0.01vw;
    }


    .card-container{
        flex-wrap: wrap;
    }

    .card{
        width: 40vw;
        display: flex;
        flex-direction: column;
    }

    .cardbtn a{
        font-size: 4vw;
        width: 45%;
    }

    .cardimg{
        height: 35vw;
        width: 40vw
    }

    .footupper h1{
        font-size: 4vw;
        font-family: monospace;
    }
}